name: Publish

on:
    workflow_dispatch:
jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
            packages: write

        steps:
            -   uses: actions/checkout@v4
            -   uses: oven-sh/setup-bun@v1
                with:
                    bun-version: latest
            -   name: Use Node.js
                uses: actions/setup-node@v4
                with:
                    node-version: '20.x'
            -   run: bun install
            -   run: bun semantic-release
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
